body {
  background-color: #3D3331;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  display: none;
}

.row {
  display: flex;
  flex-direction: column;
  flex: 4 auto;
}

.header h1 {
  color: #D1CBCD;
  font-size: 22px;
}

.header {
  padding: 10px 0 0 10px;
  flex: 1 auto;
  color: #DDD5A4;
}

.content {
  flex: 1 100%;
  order: 1;
  color: #D1CBCD;
  padding: 5px 10px 0 10px;;
  border: 3px solid #DDD5A4;
  border-radius: 10px 10px 0px 0px;
}

.content img {
  width: 30%;
  float: left;
  border-radius: 20px;
  padding: 10px;
}

.sidebar {
  flex: 1 auto;
  order: 1;
  border: 3px solid #DDD5A4;
  color: #DDD5A4;
  border-radius: 10px 10px 0px 0px;
  background-color: #3D3331;
  padding: 5px 10px 5px 10px;
}

.sidebar h3 {
  color: #D1CBCD;
}

.sidebar ul {
  padding-left: 0;
}

.sidebar ul li {
  list-style: none;
  width: 100%;
  border: 1px solid #DDD5A4;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-top: 3px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #3D3331;
  background-image: repeating-linear-gradient(135deg, #3D3331,#3D3331 10px, rgba(221, 213, 164, 0.5) 10px, rgba(221, 213, 164, 0.5) 20px);
}

.sidebar ul li a {
  text-decoration: none;
  color: #DDD5A4;
}

.sidebar ul li:last-of-type {
  transform: rotate(2deg);
  margin-top: 15px;
}

.page-footer {
  box-sizing: border-box;
  color: #D1CBCD;
  background-color: #3D3331;
  border: 2px solid #DDD5A4;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer a {
  text-decoration: none;
  color: #DDD5A4;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 40px;
  margin-left: -25px;
  margin-top: -20px;
}

.spinner > div {
  background-color: #DDD5A4;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: updownallaround 1s linear infinite alternate;
}

@keyframes updownallaround {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

@media (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex: 6 auto;
}  
  .sidebar {
    box-sizing: border-box;
    flex: 0 1 30%;
    order: 1;
    min-height: 100%;
  }

  .content {
    box-sizing: border-box;
    flex: 0 2 70%;
    order: 1;
    min-height: 100%;
  }

  .header h1 {
    font-size: 34px;
  }
}