body {
    background-color: #3D3331;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
    
}

.row {
    display: flex;
    flex-direction: column;
    flex: 4 auto;
}

.header h1 {
    color: #D1CBCD;
    font-size: 22px;
}

.header {
    padding: 10px 0 0 10px;
    flex: 0.1 100%;
    color: #DDD5A4;
}

.content {
    flex: 1 100%;
    order: 1;
    color: #D1CBCD;
    padding: 5px 10px 0 10px;;
    border: 3px solid #DDD5A4;
    border-radius: 10px 10px 0px 0px;
}

.content img {
    width: 30%;
    float: left;
    border-radius: 30%;
    padding: 10px;
}

.sidebar {
    flex: 1 100%;
    order: 1;
    border: 3px solid #DDD5A4;
    color: #DDD5A4;
    border-radius: 10px 10px 0px 0px;
    background-color: #3D3331;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 10px 0px 0px;
}

.sidebar h3 {
    color: #D1CBCD;
}

.sidebar ul li a {
    text-decoration: none;
    color: #DDD5A4;
}


.page-footer {
    box-sizing: border-box;
    color: #D1CBCD;
    background-color: #3D3331;
    border: 2px solid #DDD5A4;
    border-radius: 0px 0px 5px 5px;
    padding: 1em;
    text-align: center;

}

.page-footer a {
    text-decoration: none;
    color: #DDD5A4;
}

@media (min-width: 600px) {
   .header h1 {
        font-size: 28px;   
    }
}

@media (min-width: 800px) {
    .row {
    display: flex;
    flex-direction: row;
    flex: 4 auto;
}  
    .sidebar {
        box-sizing: border-box;
        flex: 0 1 30%;
        order: 1;
        min-height: 100%;
    }
    .content {
        box-sizing: border-box;
        flex: 0 2 70%;
        order: 1;
        min-height: 100%;
    }
   .header h1 {
        font-size: 34px;
    }
}