 <div>
  <div class="form-group">
   <input type="text" class="form-control" placeholder="todo item" ng-model="vm.inputValue">
  </div>
  <button class="btn btn-default" ng-click="vm.addItem()">Click me!</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" 
     ng-repeat="item in vm.todosList track by $index" 
     ng-class="{ 'list-group-item-checked': item.isDone}">
      <input type="checkbox" ng-model="item.isDone">
      {{ item.name }}
      <a href="" class="close" ng-click="vm.deleteItem($index)">&times</a>
    </li>
  </ul>
</div>