.wrapper {
    display: grid;
}

.header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.row {
    display: -ms-grid;
    background: gray;
    -ms-grid-columns: 1fr 2fr;
}

.siderbar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.content {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.content__img {
    width: 30%;
    float: left;
}

.footer {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}