<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>ToDo App</title>
  </head>
  <body>
    <div id="bootstrapCssTest" class="hide"></div>

   <!--  In progress  -->
    <script id="entry-template" type="text/x-handlebars-template">
    <div class="container-fluid">
      <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          <form id="form" class="form-inline">
            <input type="text" class="form-control" id="toDoInput" placeholder="{{body}}">
            <input class="btn btn-default" type="submit" value="Submit">
            <input id="clear" class="btn btn-default" type="submit" value="Clear">
          </form>
        </div>
        <ol class="taskList"></ol>
        <div id="weather"></div>
    </div>
    </script>
<!--  ToDo entries kitam template su buttonais   -->
    <script id="toDoList-template" type="text/x-handlebars-template">
      <li>
         {{userInput}}
        <button type="button" class="btn btn-default remove" aria-label="Remove">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default completed" aria-label="Done">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
      </li>
    </script>
    <script id="weather-template" type="text/x-handlebars-template">
        
          <div id="weather_temp"><p>The temperature is: {{weatherTemp}} &degC</p></div>
          <div><p>Summary: {{weatherSum}} <span id="icon"></span></p></div>

    </script>

  
<!-- Loadina CDN bootstrap ir jquery js -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="js/handlebars-v4.0.5.js"></script>
  <script src="js/todo.js"></script>
  <script src="js/weather.js"></script>
 
 <!-- Checkina ar jquery veikia, jei ne ijungia local faila -->
  <script>window.jQuery || document.write('<script src="js/jquery-2.2.1.min.js">\x3C/script>')</script>
<!-- Checkina ar bootstrap js veikia, jei ne ijungia local faila -->
  <script>    $.fn.modal || document.write('<script src="Script/bootstrap.min.js">\x3C/script>')</script>
<!-- Checkina ar #bootstrapcsstest yra visible, jei taip uzloadina local faila -->
  <script type="text/javascript">

    if ($('#bootstrapCssTest').is(':visible') === true) {
        $('<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />').appendTo('head');
    }
  </script>
  </body>
</html>