* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  margin: 0 0 20px 0;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}

.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

.col-xl {
  width: 100%;
  padding-right: 0;
}

.col-l {
  width: 66.66%;
}

.col-sm {
  width: 33.33%;
}

.col-m {
  width: 50%;
}

.col-xsm {
  width: 25%;
}

.module {
  padding: 20px;
  background: #eee;
}

body {
  padding: 10px 50px 50px;
  background-color: #3D3331;
  background-size: 300px 300px;
}

h1 {
  color: white;
}

@media (max-width:950px){
    .col-m {
        width: 100%;
        padding-right: 0;
    }
    .col-m:last-of-type {
        padding-top: 20px;
    }
    
    .col-sm {
        width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
    }
    
    .col-sm:last-of-type {
        padding-bottom: 0;
    }
    
    .col-xsm {
        width: 50%;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .col-xsm:nth-of-type(2n) {
        padding-right: 0;
    }
}
@media (max-width:480px){
    .col-xsm {
        width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
    }
    .col-xsm:nth-of-type(2n) {
        padding-right: 0;
    }
}