html,
body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}

body {
    box-sizing: border-box;
    color: #fff;
    font-size: 80%;
    display: flex;
    padding: 1em;
    height: 100vh;
    flex-direction: column;
}

header {
    background-color:deeppink;
}

main {
    height: 100%;
    display: flex;
}

article {
    background-color: blueviolet;
    flex: 2 2 12em;
}

nav,
aside {
    flex: 1;
    background-color: coral;
}

footer {
    background-color: crimson;
}

@media screen and (max-width: 500px) {
    main {
        flex-direction: column;
    }
}