body {
    background-color: #3D3331;
}

.wrapper {
/*    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;*/
    -webkit-columns: 300px 2;
    -moz-columns: 300px 2;
    columns: 300px 2;
    padding: 20px;
}

.header h1 {
    color: #D1CBCD;
    font-size: 22px;
    -webkit-column-span: all;
    column-span: all;
}

.header, .content, .sidebar, .footer {
/*    -webkit-box-flex: 1 100%;
    -moz-box-flex:  1 100%;
    -webkit-flex:  1 100%;
    -ms-flex:  1 100%;
    flex: 1 100%;*/
    color: #DDD5A4;
}

.content {
    position: relative;
/*    -webkit-box-flex: 2 100%;
    -moz-box-flex:  2 100%;
    -webkit-flex:  2 100%;
    -ms-flex:  2 100%;
    flex: 2 100%;*/
    color: #D1CBCD;
    padding: 5px 10px 0 10px;;
    border: 3px solid #DDD5A4;
    border-radius: 10px 10px 0px 0px;
}

.content img {
    width: 30%;
    float: left;
    border-radius: 30%;
    padding: 10px;
}

.sidebar {
/*    -webkit-box-flex: 2 0px;
    -moz-box-flex:  2 0px;
    -webkit-flex:  2 0px;
    -ms-flex:  2 0px;
    flex: 2 0px;*/
    background-color: #3D3331;
    padding: 5px 10px 0 10px;
    border-radius: 10px 10px 0px 0px;
    animation: pulse;
    animation-duration: 3s; 
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}

@keyframes pulse {
  0% {
    background-color: #3D3331;
  }
  100% {
    background-color: #a29773;
  }
}

.sidebar h3 {
    color: #D1CBCD;
}

.sidebar ul li a {
    text-decoration: none;
    color: #DDD5A4;
}
footer {
/*    -webkit-box-flex: 4 100%;
    -moz-box-flex:  4 100%;
    -webkit-flex:  4 100%;
    -ms-flex:  4 100%;
    flex: 4 100%;*/
    padding: 10px;
    text-align: center;
}

.footer a {
    color: #D1CBCD;
    padding: 10px 15px 5px 15px;
    background-color: #3D3331;
    border: 2px solid #DDD5A4;
    border-radius: 0px 0px 5px 5px;
    text-decoration: none;
}

@media (min-width: 600px) {
   .header h1 {
        font-size: 28px;   
    }
}

@media (min-width: 800px) {
/*    .sidebar {
    -webkit-box-flex: 0 1 20%;
    -moz-box-flex:  0 1 20%;
    -webkit-flex:  0 1 20%;
    -ms-flex:  0 1 20%;
    flex: 0 1 20%;
    }
    .content {
    -webkit-box-flex: 0 2 70%;
    -moz-box-flex:  0 2 70%;
    -webkit-flex:  0 2 70%;
    -ms-flex:  0 2 70%;
    flex: 0 2 70%;
    }*/
  /*  .sidebar {
        width: 25%;
        float: left;
    }
    .content {
        width: 50%;
        float: left;
    }*/
   .header h1 {
        font-size: 34px;
    }
}